html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Best notes app
        link(rel="stylesheet", href="/css/style.css")
        script(src='/js/index.js' async)
    body
        h1.header-title Notes
        h2.header-oneliner your new place to store ideas
        h1 Broser-sync is finally working
        h2 I can finally work like I wanted
        include includes/logRes.pug